footer {
  background-color: $footer-dark;
  color: $footer-white;
  padding: 2rem;
  font-weight: 400;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  

  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  a {
    display: block;
  }

  .contacts {
    display: flex;
    gap: 1.5rem;
  }

  .logo {
    display: flex;
    place-items: center;

    img {
      height: 15rem;

    }
  }


  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;

    &>div {
      align-items: flex-start;
      justify-content: center;
    }
  }
  @media only screen and (min-width: 1500px) {
    padding: 4rem 15%;

  }
}