header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-bottom: 1px solid $border-gray;
  *{
    cursor: pointer;
  }
  img{
    height: 3rem;
  }
  strong{
    font-family: InterstateBlack;
  }
  p{
    font-family: Interstate;
    &:hover{
      color: $bslc-tosca;
    }
  }
  .mobile_header{
    color: $bslc-tosca;
    font-size: 2.25rem;
  }
  .pc_header{
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .mobile_header{
      display: none;
    }
    .pc_header{
      display: block;
      font-size: 1.75rem;
    }
    .main_logo{
      height: 4rem;
    }
  }
}